.task-list {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    margin-top: 20px;
}

.task {
    background-color: #8ad3b1;
    border-radius: 10px;
    padding: 10px;
}

.task__date {
    text-align: end;
}